
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <script type="text/javascript" src="./eel.js"></script>
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
     Severity Alarm Dashboard 
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../static/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../static/demo/demo.css" rel="stylesheet" />
  {{ dropzone.load_css() }}
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      <div class="logo">
        <a href="https://www.creative-tim.com" class="simple-text logo-mini">
          <div class="logo-image-small">
            <img src="../static/img/logo-small.png">
          </div>
          <!-- <p>CT</p> -->
        </a>
        <a href="https://www.creative-tim.com" class="simple-text logo-normal">
          TriplEEEians
          <!-- <div class="logo-image-big">
            <img src="../assets/img/logo-big.png">
          </div> -->
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="active ">
            <a href="#">
              <i class="nc-icon nc-bank"></i>
              <p>Dashboard</p>
            </a>
          </li>
          
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:;">Mock Operation Theatre</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-globe text-warning"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Distribution Board 1</p>
                      <p class="card-title"><p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-calendar-o"></i>
                  Details
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-globe text-warning"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Distribution Board 2</p>
                      <p class="card-title"><p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-calendar-o"></i>
                  Details
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-globe text-warning"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Distribution Board 3</p>
                      <p class="card-title"><p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-calendar-o"></i>
                 Details
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-globe text-warning       "></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Distribution Board 4</p>
                      <p class="card-title"><p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-calendar-o"></i>
                  Details
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col">
              <!-- <form action="{{ url_for('hello') }}" enctype="multipart/form-data" method="post">
                {{ dropzone.create() }}
               <button type="submit" id="Upload" class="btn-info">Upload Images</button>
              </form>
              {{ dropzone.load_js() }}
              {{ dropzone.config() }} -->
              <br><br><br>
              <div style="text-align: center;">
                <progress id="progressBar" value="0" max="100" style="width:300px;"></progress>
                <span id="status"></span>
                <h1 id="finalMessage"></h1>
                <form action="{{ url_for('image_input') }}" method="post">
                  <button type="submit" onclick='start(0)' id="Process" class="btn-info">Process Images</button>
                </form>
               
              </div>
             </div>
            </div>
          </div> 
        </div>
        <br><br><br><br>
      <div  id="less" class="container">
        <h1>Less Images:</h1>
        <div class="carousel slide" data-ride="carousel">
  
          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#l1" data-slide-to="0" class="active"></li>
            <li data-target="#l1" data-slide-to="1"></li>
          </ul>
          
          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../static/less/image_9.jpg"  width="1100" height="500">
            </div>
            <div class="carousel-item">
              <img src="../static/less/image_10.jpg"  width="1100" height="500">
            </div>
          </div>
          
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#l1" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#l1" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
        
      </div>
      <div class="container" id="High">
        <h1>High Images:</h1>
        <div  class="carousel slide" data-ride="carousel">

          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#high" data-slide-to="0" class="active"></li>
            <li data-target="#high" data-slide-to="1"></li>
            <li data-target="#high" data-slide-to="2"></li>
            <li data-target="#high" data-slide-to="3"></li>
            <li data-target="#high" data-slide-to="4"></li>
            <li data-target="#high" data-slide-to="5"></li>
            <li data-target="#high" data-slide-to="6"></li>
            <li data-target="#high" data-slide-to="7"></li>
            <li data-target="#high" data-slide-to="8"></li>
            <li data-target="#high" data-slide-to="9"></li>
            <li data-target="#high" data-slide-to="10"></li>
            <li data-target="#high" data-slide-to="11"></li>
          </ul>
          
          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img  src="../static/high/image_0.jpg"  width="1100" height="500">
            </div>
            <div class="carousel-item">
              <img  src="../static/high/image_1.jpg"  width="1100" height="500">
            </div>
            <div class="carousel-item">
              <img  src="../static/high/image_2.jpg"  width="1100" height="500">
            </div>
            <div class="carousel-item">
              <img  src="../static/high/image_3.jpg"  width="1100" height="500">
            </div>
            <div class="carousel-item">
              <img  src="../static/high/image_5.jpg"  width="1100" height="500">
            </div>
            <div class="carousel-item">
              <img src="../static/high/image_11.jpg"  width="1100" height="500">
            </div>
            <div class="carousel-item">
              <img src="../static/high/image_12.jpg"  width="1100" height="500">
            </div>
            <div class="carousel-item">
              <img src="../static/high/image_13.jpg"  width="1100" height="500">
            </div>
            <div class="carousel-item">
              <img src="../static/high/image_14.jpg"  width="1100" height="500">
            </div>
            <div class="carousel-item">
              <img src="../static/high/image_15.jpg"  width="1100" height="500">
            </div>
            <div class="carousel-item">
              <img src="../static/high/image_16.jpg"  width="1100" height="500">
            </div>
            <div class="carousel-item">
              <img src="../static/high/image_17.jpg"  width="1100" height="500">
            </div>
          </div>
          
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#high" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#high" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
        
      </div>
      <div id="Critical" class="container">
        <h1>Critical Images:</h1>
        <div  class="carousel slide" data-ride="carousel">

          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#critical" data-slide-to="0" class="active"></li>
            <li data-target="#critical" data-slide-to="1"></li>
            <li data-target="#critical" data-slide-to="2"></li>
            <li data-target="#critical" data-slide-to="3"></li>
          </ul>
          
          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../static/critical/image_18.jpg"  width="1100" height="500">
            </div>
            <div class="carousel-item">
              <img src="../static/critical/image_4.jpg" width="1100" height="500">
            </div>
            <div class="carousel-item">
              <img src="../static/critical/image_6.jpg" width="1100" height="500">
            </div>
            <div class="carousel-item">
              <img src="../static/critical/image_7.jpg" width="1100" height="500">
            </div>
          </div>
          
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#critical" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#critical" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
        
      </div>
    </div>
  </div>


            
  <!--   Core JS Files   -->
  <script src="../static/js/core/jquery.min.js"></script>
  <script src="../static/"></script>
  <script src="../static/js/core/bootstrap.min.js"></script>
  <script src="../static/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="../static/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../static/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../static/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
  <script src="../static/demo/demo.js"></script>
  <script>
    // $(document).ready(function() {
      $('#less').hide();
      $('#Critical').hide();
      $('#High').hide();

    // });

    function api_call() {
      
      $('#less').show();
      $('#Critical').show();
      $('#High').show();
    // $.ajax({
    //     url: "http://127.0.0.1:5000/process_images/",
    //     method: 'POST',
    //     contentType: 'application/json',
    //     data: JSON.stringify("Hello"),
    //     success: function( data, textStatus, jQxhr ){
    //         console.log(data)
    //         console.log('Text status',textStatus)
    //     },
    //     error: function( jqXhr, textStatus, errorThrown ){

    //       console.log('Error thrown',errorThrown)
    //       console.log('Text status',textStatus)
    //     },
    //     timeout: 30000
    // });
    console.log("Function called")
}
    function start(al) {
        var bar = document.getElementById('progressBar');
        var status = document.getElementById('status');
        status.innerHTML = al + "%";
        bar.value = al;
        al++;
        var sim = setTimeout("start(" + al + ")", 1);
        if (al == 100) {
          status.innerHTML = "100%";
          bar.value = 100;
          clearTimeout(sim);
          var finalMessage = document.getElementById('finalMessage');
          finalMessage.innerHTML = "Process is complete";
          api_call();
        }
      }
  </script>
</body>

</html>
